# Flutter関連
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/build/
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/pubspec.lock

# Go関連
backend/main
backend/*.exe
backend/*.dll
backend/*.so
backend/*.dylib

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# 環境変数
.env
.env.local

# Docker
*.log
